body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background: #FAFCFA;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: #CFD9CF solid 2px;
}

.hero-container {
    padding: 15px;
    display: grid;
    grid-template-areas: "badge search profile";
}

.badge {
    grid-area: badge;
    display: grid;
    grid-template-columns: 70px 1fr;
    align-self: center;
    color: red;
}

.badge img {
    max-width: 70px;
    align-self: center;
}

.badge h3 {
    align-self: center;
}

.search {
    align-self: center;
    justify-self: center;
    grid-area: search;
}

.search input {
    width: 500px;
    height: 30px;
    border-radius: 10px;
}

.profile {
    grid-area: profile;
    display: grid;
    grid-template-columns: 1fr 80px;
}

.profile h4 {
    margin: 5px;
    justify-self: end;
    align-self: center;
}

.profile img {
    align-self: center;
    max-width: 80px;
    height: 75px;
    border-radius: 70%;
}

.bar {
    width: 100px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.right-bar {
    background-color: #E8675A;            
    grid-template-rows: "home trending likes settings";
    display: grid;
    grid-template-columns: 65px;
    grid-template-rows: repeat(3, 80px) 323px;
}

.home {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.home i {
    font-size: 30px;
    color: black;
}

.home a{
    text-decoration: none;
    color: black;
}

.trending {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.trending i {
    font-size: 30px;
    color: black;
}

.trending a{
    text-decoration: none;
    color: black;
}

.likes {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.likes i {
    font-size: 30px;
    color: black;
}

.likes a{
    text-decoration: none;
    color: black;
}

.settings {
    align-self: end;
    justify-self: center;
    text-align: center;
}

.settings i {
    font-size: 30px;
    color: black;
}

.settings a{
    text-decoration: none;
    color: black;
}

.movi{
    /* position: initial; */
}

.movi h2{
    padding-left: 65px;
    font-size: 20px;
}

.movi-container{
    padding-top: 10px;
    padding-left: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}

.img-pets{
    position: relative;
}

.img-pets img{
    width: 350px;
    height: 220px;
    align-self: center;
}

.description{
    background-color: rgba(232, 103, 90, .7);
    font-size: 22px;
    padding-left: 10px;
    position: absolute;
    bottom: 4px;
    color: white;
}

.description p{
    font-size: 14px;
}

